<h1>Sign up</h1>
<form action="<%= users_url %>" method="post">

    <label >Username:
        <input type="text" name="user[user_name]">
    </label>
    <br> <br>

    <label >Password:
        <input type="text" name="user[password]">
    </label>
    <br>

    <input type="submit" value="SIGN UP">

</form>