<h2>New Subreddit</h2>

<form action="<%= subs_url %>" method="POST">
  <input type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label>Title:
    <input type="text" name="sub[title]" value="<%= @sub.title %>">
  </label>
  <br>
  <br>

  <label>Description
    <textarea name="sub[description]"><%= @sub.description %></textarea>
  </label>
  <br>
  <br>

  <button>Create</button>
</form>