<h2><%= current_user.username %></h2>

<!--
<ul>
  Subreddits You Are Moderating:
  <% current_user.subs.each do |sub| %>
    <li>
      <a href="<%= sub_url(sub) %>">
        <%= sub.title %>
      </a>
    </li>
  <% end %>
</ul>
-->

<% subs %>